
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0,0,0,03), transparent), url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 0.8%;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;

}

.wrapper{
    margin-top: 10%;  
    
}

.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: #8e8b8b;
}

.group{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap ;
}

.group .group_members{
    background:#d7d5d5;
    
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 25px;
    color: #000;
    position: relative;
}

.group .group_members h3{
    color: #000;
    font-size: 26px;
    margin-top: 50px;
}

.group .group_members p.role{
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.group .group_members .group_images{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.group .group_members .group_images img{
 width: 100px;
 height: 100px;
 padding: 10px;
} 

